In [1]:
def task2_predict(review_text: str) -> int | None:
    prompt = f"""
    Predict the star rating (1 to 5) for this review.

    Rules:
    - Output ONLY one number
    - No text, no explanation

    Review:
    {review_text}
    """

    try:
        response = call_llm(prompt).strip()
        rating = int(response)

        if rating < 1 or rating > 5:
            return None

        return rating

    except Exception:
        return None

In [1]:

import pandas as pd

df = pd.read_csv(
    r"C:\Users\Samta sakha\OneDrive\Desktop\projects2\Fynd\yelp.csv.zip"
)

print(df.head())
print(df.columns)

              business_id        date               review_id  stars  \
0  9yKzy9PApeiPPOUJEtnvkg  2011-01-26  fWKvX83p0-ka4JS3dc6E5A      5
1  ZRJwVLyzEJq1VAihDhYiow  2011-07-27  IjZ33sJrzXqU-0X6U8NwyA      5
2  6oRAC4uyJCsJl1X0WZpVSA  2012-06-14  IESLBzqUCLdSzSqm0eCSxQ      4
3  _1QQZuf4zZOyFCvXc0o6Vg  2010-05-27  G-WvGaISbqqaMHlNnByodA      5
4  6ozycU1RpktNG2-1BroVtw  2012-01-05  1uJFq2r5QfJG_6ExMRCaGw      5

                                                text    type  \
0  My wife took me here on my birthday for breakf...  review
1  I have no idea why some people give bad review...  review
2  love the gyro plate. Rice is so good and I als...  review
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...  review
4  General Manager Scott Petello is a good egg!!!...  review

                  user_id  cool  useful  funny
0  rLtl8ZkDX5vH5nAx9C3q5Q     2       5      0
1  0a2KyEL0d3Yb1V6aivbIuQ     0       0      0
2  0hT2KtfLiobPvh6cDC8JQg     0       1      0
3  uZetl9T0NcROGOyFfughhg     1       2      0
4  vYmM4KTsC8ZfQBg-j5MWkw     0       0      0
Index(['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id',
       'cool', 'useful', 'funny'],
      dtype='object')

In [2]:
def task2_predict(review_text: str):
    prompt = f"""
    Predict the star rating (1 to 5) for this review.

    Rules:
    - Output ONLY one number
    - No text

    Review:
    {review_text}
    """

    try:
        response = call_llm(prompt).strip()
        rating = int(response)
        if 1 <= rating <= 5:
            return rating
        return None
    except:
        return None

In [3]:
df["predicted_rating"] = df["text"].apply(task2_predict)

In [5]:
df[["text", "stars", "predicted_rating"]].head()

                                                text  stars predicted_rating
0  My wife took me here on my birthday for breakf...      5             None
1  I have no idea why some people give bad review...      5             None
2  love the gyro plate. Rice is so good and I als...      4             None
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5             None
4  General Manager Scott Petello is a good egg!!!...      5             None

In [6]:
print("df exists:", "df" in globals())
print("task2_predict exists:", "task2_predict" in globals())

df exists: True
task2_predict exists: True

In [7]:
rating = task2_predict("The food was amazing!")
print(rating)

None

In [8]:
df["predicted_rating"] = df["text"].apply(task2_predict)

In [9]:
df[["text", "stars", "predicted_rating"]].head()

                                                text  stars predicted_rating
0  My wife took me here on my birthday for breakf...      5             None
1  I have no idea why some people give bad review...      5             None
2  love the gyro plate. Rice is so good and I als...      4             None
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5             None
4  General Manager Scott Petello is a good egg!!!...      5             None

In [10]:
test = task2_predict("Great food and fast service")
print(test)
print(type(test))

None
<class 'NoneType'>